.hero {
    // background-image: url("https://i.imgur.com/DYDX9DU.jpg");
    // background-size:cover
    width: 100%;
};


@import "../node_modules/@picocss/pico/scss/pico.scss";

#mainnav.inactive a {
    display:none;
}
.nav-container {
    border-bottom: 1px solid #eee;
}
.historytable {
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        list-style: none;
        margin:0;
    }
}
.hero {
    > div {
        margin:auto;
    }
    img.hero-logo {
        margin:100px 0;
        width:300px;
        text-align: center;
    }
    h1 {
        margin-bottom: 16px;
    }
}

img[src=""] {
    display: none;
}

.profileform {
    max-width: 800px;
    img#metadata-form-banner {
        max-height: 200px;
    }
    img#metadata-form-picture {
        max-height:150px;
        max-width:150px;
    }
}
.added mark, mark.added {
    background-color:rgb(29, 255, 116)
}
.removed mark, mark.removed {
    background-color:rgb(255, 125, 125)
}

.profile-summary-card {
    img {
        max-width: 75px;
        float: left;
        margin: 10px 10px 10px 0;
    }
}

#relayform {
    input[type="text"] {
        margin-top: 17px;
    }
}

.hide { display:none;}

#contactdetails {
    img {
        display:inline-block;
        max-width: 20%;
        padding-right: 16px;
        vertical-align:top;
    }
    .contactdetailsmain {
        display:inline-block;
        width:75%;
    }
    .contact-form-buttons {
        margin-top: 34px;
    }
}

#searchinput { margin-top: 16px; }

#searchresults ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
        margin:0;
        width:30%;
        display: inline-block;
    }
    img {
        max-width: 75px;
        border-radius: 38px;
        float: left;
        margin: 10px 10px 10px 0;
    }
}
